*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}






header.container{
    width: 80%;
    margin: 50px auto;
}

.intestazione{
    height: 150px;
    background-color: #e579e6;
}








main.principale{
    width: 80%;
    margin: auto;
}

.sezione_1{
    height: 600px;
    background-color: #e1d67a;
}

.sezione_2{
    height: 1000px;
    background-color: #0087ff;
    margin-top: 50px;
}

    .testa{
        background-color: #abcfe7;
        height: 10%;
    }

    .sidebar{
        background-color: #abcfe7;
        width: 27%;
        height: 84%;
        float: left;
        margin: 3% 0px;

    }

    .centro{
        background-color: #abcfe7;
        width: 40%;
        height: 84%;
        float: left;
        margin: 3% 3%;
    }

    .sottosezione{
        height: 90%;
    }
    .sottosezione:after{
        content:"";
        display: table;
        clear: both;
    }





footer.coda{
    width: 80%;
    margin: auto;
}

.footer{
    height: 100px;
    background-color: #8801fe;
    margin-top: 20px;
    margin-bottom: 50px;
}



